
/.vscode

**/*.no
**/*.no.*
**/*.wip.*
*.log

/out

# Neutralino sources
/client
/server
/spec
/site

# Test app
/bin
/test/icons
/test/js

# npm, pnpm
**/node_modules
**/*-lock.yaml

# tmp
/tools/md
/tools/schema